<template name="assignment">
	{{#if editing}}
		<form class="editAssignment">
			<div class="field">
  				<div class="panel panel-default">
    				<div class="panel-heading">
    					<div class="form-group">
    						<input type="text" class="form-control" name="title" autocomplete="off" placeholder="{{title}}">
    					</div>
    				</div>
    			<div class="panel-body">
    				<div class="form-group">
      					<textarea class="form-control" type="text" name="title" lines="5" autocomplete="off" placeholder="{{description}}"></textarea>
      				</div>
    			</div>
    			<div class="panel-footer">
      				<button class="btn btn-success editComplete" type="submit">Finish</button>
    			</div>
  			</div>
  		</div>
	</form>
	{{else}}
  	<div class="field">
  		<div class="panel panel-default">
    		<div class="panel-heading">
      			<h3><b>{{title}}</b></h3>
    		</div>
    		<div class="panel-body">
     	 		{{description}}
   			</div>
    		<div class="panel-footer">
      			<button class="btn btn-danger delete" type="submit">Delete</button>
      			<button class="btn btn-success edit" type="submit">Edit</button>
    		</div>
  		</div>
	</div>
{{/if}}
</template>